.title{
    font-size: 30px;
    margin: 30px 0 20px 0;
    text-align: center 
}

.container{
    margin-top: 20px;
    width: 80%;
    margin-left: 10%;
}


.column-container{
    display: flex;
    margin-top: 25px;
    width: 100%;
}

.left-column{
    width: 40%;
    margin-left: 5%;
    border: 3 px solid salmon;
}

.right-column{
    width: 50%;
    margin-left: 5%;
    border: 3 px solid green;
}

t {
    font-size: 20px;
}

.button-container {
    display: inline-block;
    padding: 4px 4px;
    width: 75%;
    margin-top: 20px;
    margin-left: 13%;
    
  }


.btn-1{
    margin-top: 10px;
    margin-right: 10px;
    text-align: center;
    cursor: pointer;
    background-color: rgb(108, 209, 108);
    color: black;
    display: inline-block;
    border-radius: 5px;
    font-size: 16px;
    
}


.btn-2{
    margin-top: 10px;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    cursor: pointer;
    background-color:rgb(180, 177, 177);
    color: black;
    display: block;
    border-radius: 5px;
    font-size: 16px;
    
}

.instr{
    margin-top: 20px;
}

.img-frame{
    height: 350px;
    width: 450px;
    padding: 8px 8px;
    border: 3px solid #c44479;
    background-color: #FFE7C8;
}

#canvas {
    width:2000px;
    height:2000px;
    border: 10px solid transparent;
}
.rectangle {
    border: 1px solid #FF0000;
    position: absolute;
}


.img-frame{
    height: 450px;
    width: 550px;
    padding: 8px 8px;
    border: 3px solid #4472C4;
    margin-left: calc(50% - 208px);
}

.image-inner{
    padding: 2px 2px;
    width: 100%;
    height: 100%;
    object-fit: contain
}


.stage{
    position: absolute;
}

.prediction-container{
    text-align: left;
    font-size: 14px;
    width: 90%;
    background-color: #FFE7C8;
    margin-bottom: 10px;
    margin-top: 10px;
}

.button-container {
    padding: 4px 4px;

    margin-left: 13%;
    display: inline-block;
    
}

.instr{
    margin-top: 20px;
    width: 80%;
}

.pop-container{
    margin-left: 5%;
    width: 100%;
    height: 80%
}

/* Popup style */
.popup-box {
  position: fixed;
  background: #00000050;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
}
 
.box {
  position: relative;
  width: 35%;
  margin: 0 auto;
  height: auto;
  max-height: 70vh;
  margin-top: calc(100vh - 85vh - 20px);
  background: #fff;
  border-radius: 4px;
  padding: 20px;
  border: 1px solid #999;
  overflow: auto;
}
 
.close-icon {
  content: 'x';
  cursor: pointer;
  position: fixed;
  right: calc(35% - 55px);
  top: calc(100vh - 85vh - 30px);
  background: #ededed;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  line-height: 20px;
  text-align: center;
  border: 1px solid #999;
  font-size: 20px;
}

#posttitle {
    background-color: #FFE7C8;
    text-align: left;
    margin-bottom: 0em;
}

#posttext {
    background-color: #FFE7C8;
    text-align: left;
}

#textbox {
    width: 100%;
}

#comment {
    background-color: #FFE7C8;
    text-align: left;
}

.username {
    text-align: left;
    color: gray;
    margin-bottom: 0em;
    background-color: #FFE7C8;
}

#directionsheader {
    text-align: left;
    padding-left: 15%;
    padding-right: 20%;
}

#directions{
    text-align: left;
    padding-left: 15%;
    padding-right: 20%;
}